img {
  width: 50%;
  border: 1px solid #000;
}

figure {
  border: 1px solid #000;
  width: 50%
}

* {
  font-family: gintronic;
}

html {
  background-image: url("../imgs/bg.png");
}

main {
  padding: 2rem;
}

h1, h2 {
  color: transparent;
  background: linear-gradient(#00b0ff, #972fff);
  background-clip: text;
  -webkit-background-clip: text;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

nav {
 width: 100%;
 background-color: #8a2be2;
 opacity: .5;
 margin: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
}
ul li {
  color: #00b0ff;
}
a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}