:root {
  --indigo: #7300e6;
  --bliolet: #8520e9;
  --plink: #b319ff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  text-transform: uppercase;
  height: 100vh;
  font-family: abacaxi-latin-variable, sans-serif;
  font-variation-settings: "wght" 400;
}
h1 {
  visibility: hidden;
}
li {
  list-style: none;
  font-size: 4.5rem;
  text-align: right;
  margin-top: 3rem;
  padding: 1rem;
}
a {
  font-family: abacaxi-latin-variable, sans-serif;
  font-variation-settings: "wght" 400;
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 2px 2px 2px #a0f, 3px 3px 3px #000,
    4px 4px 4px #a0f, -1px -1px 1px #000, -2px -2px 2px #00afff,
    -3px -3px 3px #000, -4px -4px 4px #00afff;
}
a:hover,
a:focus {
  text-shadow: -3px -3px 2px #00afff, 3px 3px 2px #a0f;
}
footer p {
  color: transparent;
  font-size: 0.5rem;
  background: linear-gradient(50deg, #00afff, blueviolet 65%);
  padding: 0.5rem;
  text-align: center;
  text-shadow: -4px -4px #00afff, 4px 4px #a0f;
}
